// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans-jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.versions {
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #C5CFD9;
    border-radius: 8px;
}
.color {
  color: #ffffff;
}
.logo {
  width: 5%;
  height: 5%;
}
